/CodeExamples/nbproject/private/
/CodeExamples/build/
/ApplicationController/nbproject/private/
/ApplicationController/build/
/MVC/nbproject/private/
/MVC/build/
/ClientServer/nbproject/private/
/Collections/nbproject/private/
/Collections/build/